.contenedor{
    background-color: gray;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px ;
    width: 50%;
    position: relative;
    left: 25%;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="enviar"]{
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 15px 0;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
}

input[type="enviar"]:hover{
    background-color: rgb(34, 34, 34);
    color: blue;
  
}